/* just simple reseting css and making every element bordex-box sizing to avoid problems with padding in future  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e6f7ff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

/* --- HEADER PART OF THE SITE --- */
header{
    background-color: #253144;
    color: #ffffff;
    padding: 10px;
    display: flex; /* making a header a flexbox and place the logo, main menu and social menu in space between style */
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-height: 20px;
}

header .logo .text-logo{
    color: #bc140b;
    font-weight: bold;
}

/* the .mobile menu class store the main nav and social menu together, but on 
desktop version it needs to be flex to move the main nav to the center */
header .mobile-menu{
    display: flex;
    flex-basis: 61%; /* main nav takes about 22%, so it must have 78%/2 = 39% on the left and right (100 - 39) */
    justify-content: space-between;
}

header nav ul, 
header .services ul{
    list-style-type: none;
    display: flex;
}

/* reseting default css for ul lists - two menu in header */
header nav ul a,
header .services ul a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px;
    transition: color .3s;
}

header nav ul a:hover{
    color: #bc140b;
    transition: color .3s;
}

header .current{color: #bc140b}

header .mobile-nav-toggle,
header .mobile-nav-toggle-label{
    display: none;
}

/* --- STYLING THE SLIDER (BANNER) PART --- */
.banner,
.slider,
.slide-content{
    height: 70vh;
    width: 100%;
    overflow: hidden;
}

.banner{
    position: relative;
    display: block;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

/* styling every slide */
.banner .slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

/* animation on slide change 
 * block-show is a class given to actually visible image on slider */
.banner .block-show{animation: showImage 1.2s}

@keyframes showImage{
    from{opacity: 0;}
    to{opacity: 1;}
}

/* setting images to each slide */ 
.slideNo1{background-image: url('../images/slider/image1.jpg')}
.slideNo2{background-image: url('../images/slider/image2.jpg')}
.slideNo3{background-image: url('../images/slider/image3.jpg')}

/* styling the content like text and button inside every slide */
.banner .slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: auto;
}

.banner .slide-content h1{
    font-size: 2.5rem;
    font-weight: bold;
}

.banner .slide-content h2{
    font-size: 1rem;
    font-weight: normal;
}

.banner .slide-content .slideButton{
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #ffffff;
    border-radius: 6px;
}

.banner .slide-content .slideButton:hover{
    background-color: #ffffff;
    color: #253144;
    text-shadow: none;
}

/* styling the arrows (without images, just using css to make shapes) */
.banner .arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
}

.banner #arrow-left{
    border-width: 20px 30px 20px 0;
    border-color: transparent #f2f6fc transparent transparent;
    left: 0;
    margin-left: 30px;
}

.banner #arrow-right{
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #f2f6fc;
    right: 0;
    margin-right: 30px;
}

/* --- STYLING THE WELCOME SECTION WITH CITE ---*/
.welcome{
    text-align: center;
    padding: 20px 0;
    background-color: #4b81d8;
    color: #ffffff;
}

.welcome .content-title{
    font-size: 2.2rem;
}

.welcome cite{
    color: #dbdbdb;
    font-size: 0.8rem;
}

/* --- STYLING THE MAIN CONTENT (ARTICLES) PART --- */
main{
    width: 90%;
    margin: 20px auto;
    text-align: justify;
}

/* every group of 2 articles is closed in the flexbox div container */
main .article-flex-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

main article{
    flex: 1 1 50%;
    padding: 0 5%;
}

/* content of every article (image, title and text) */ 
main article .article-image{
    background-size: cover;
    background-position: center;
    height: 50vh;
    transition: all .8s;
}
main article h3{
    margin-top: 10px;
    text-transform: uppercase;
}

/* every <article> is a link to that article */
main article .link-article{
    display: block;
    text-decoration: none;
    color: #7a7979;
    transition: .8s;
}

main article .link-article:hover{
    color: #000000;
}

/* container to store the image - zoom in without overflow */
main article .container-article-image{overflow: hidden}

main article .link-article:hover .article-image{
    transform: scale(1.2);
    transition: all .8s;
}

/* setting images to articles */
main article .artImgNo1{background-image: url(../images/articles/art1.jpg)}
main article .artImgNo2{background-image: url(../images/articles/art2.jpg)}
main article .artImgNo3{background-image: url(../images/articles/art3.jpg)}
main article .artImgNo4{background-image: url(../images/articles/art4.jpg)}

/* --- STYLING THE FOOTER PART --- */

footer{
    background-color: #253144;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    font-size: .7rem;
}